# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1

executors:
  build:
    docker:
      - image: circleci/golang:1.16
  publish:
    docker:
      - image: circleci/python:3.7

commands: 
  build_aws_credentials:
    description: Create an aws credentials file and populate with circleci env parameters
    steps:
      - run: 
          name: Ensure the credential file exists and is populated
          command:  |
            mkdir -p ~/.aws
            echo "[default]" >> ~/.aws/config
            echo region = $CIRCLECI_AWS_REGION >> ~/.aws/config
            echo "[default]" >> ~/.aws/credentials
            echo aws_access_key_id = $CIRCLECI_AWS_ACCESS_KEY_ID >>  ~/.aws/credentials
            echo aws_access_secret_key = $CIRCLECI_AWS_ACCESS_SECRET_KEY >> ~/.aws/credentials

jobs:
  build:
    executor: build
    steps:
       run: echo "building Simple lambda" # run the `echo` command
      - checkout
      - restore_cache:
          keys:
            - go-module-cache-{{ checksum "go.sum" }}
      - run:
          name: "run unit tests"
          command: go test ./... -tags=integration -coverprofile=coverage.out
      - run: go tool cover -html=coverage.out -o coverage.html
      - run: go get -u golang.org/x/lint/golint
      - run: golint -set_exit_status $(go list ./... | grep -v /vendor/)
      - run: go vet $(go list ./... | grep -v /vendor/)
      - save_cache:
          key: go-module-cache-{{ checksum "go.sum" }}
          paths:
            - ~/.go_workspace/pkg/mod
      - run: GOOS=linux go build -o app ./...
      - persist_to_workspace:
          root: .
          paths:
            - .
      - store_artifacts:
          path: coverage.html

 # integration_test:
 #   machine: true
#    steps:
#      - attach_workspace:
 #         at: .
 #     - run: cp ./config/ci.toml config.toml
#      - run: zip app.zip app config.toml
 #     - run:
#          name: run ci integration script
#          command: |
 #           ./scripts/ci_run_integration_tests.sh
 #     - store_artifacts:
 #         path: mochawesome-report
 #         destination: report
#      - store_test_results:
 #         path: test-results

  deploy:
    executor: publish
    parameters:
      deployenvironment:
          type: string
          default: "test"
      awsRegion:
        type: string
        default: "eu-west-2"
    steps:
      - attach_workspace:
          at: .
      - build_aws_credentials
      - run: sudo pip install awscli
      # copy 
      - run: cp ./config/test.toml config.toml
      - run: bash ./scripts/deploy.sh -e "test" -r "eu-west-2"

workflows:
  version: 2
  build_publish:
    jobs:
      - build:
          context: JudeCircleCiContext
          filters:
            tags:
              only: /.*/

      - deploy:
          context: JudeCircleCiContext
          requires:
            - build
          deployenvironment: test
          filters:
            branches:
              only: main
            tags:
              ignore: /release-.*/