AWSTemplateFormatVersion: 2010-09-09
Description: Infrastructure for Simple Lambda
Parameters: 
  Client:
    Type: String
    Description: The Client this is beng deployed for
    Default: 'client'
  Environment:
    Type: String
    Default: 'test'
  Component:
    Type: String
    Default: 'my-simple-lambda'
  GitCommit:
    Type: String
    Description: sha value of commit being deployed
  CircleCIBuildNumber:
    Type: String
    Description: circleCi build number being deployed
  Component:
    Type: String
    Default: 'Simple Lambda'
  MyReadCapacityUnits:
    Type: Number
    Default: 5
  MyWriteCapacityUnits:
    Type: Number
    Default: 5

Resources:
  Table:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${Client}-actions-tablearn-${Environment}
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits:
          Ref: MyReadCapacityUnits
        WriteCapacityUnits:
          Ref: MyWriteCapacityUnits

Outputs:
  TableArn:
    Description: Table Arn
    Value: !GetAtt Table.Arn
    Export:
      Name: !Sub ${Client}-actions-tablearn-${Environment}       

  