AWSTemplateFormatVersion: 2010-09-09
Description: Infrastructure for Simple Lambda
Parameters: 
  Client:
    Type: String
    Default: 'client'
  Environment:
    Type: String
    Default: 'test'
  GitCommit:
    Type: String
    Description: sha value of commit being deployed
  CircleCIBuildNumber:
    Type: String
    Description: circleCi build number for this deploy
  Component:
    Type: String
    Default: 'Simple Lambda'
  MyReadCapacityUnits:
    Type: Number
    Default: 5
  MyWriteCapacityUnits:
    Type: Number
    Default: 5

Resources:
  Table:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${Client}-user-profile-${Environment}
      AttributeDefinitions:
        AttributeName: id
        AttributeType: S
        AttributeName: name
        AttributeType: S
      KeySchema:
        AttributeName: id
        KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits:
          Ref: MyReadCapacityUnits
        WriteCapacityUnits:
          Ref: MyWriteCapacityUnits

Output:
  TableArn:
    Description: Table Arn
    Value: !GetAtt Table.Arn
    Export:
      Name: !Sub ${Client}-user-profile-${Environment}       

  